body {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    animation: fade-down 0.5s;
}

.home-header {
    background-image: url(/My-Website/images/header-800_x_750.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.9);
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.head-one {
    color: #ffffff;
    padding-top: 250px;
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: 2rem;
    animation: fade-up 0.5s;
}

.p-2 {
    margin: 1.2rem 1.2rem;
}

footer {
    background-color: #011826;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;

}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 15px 50px 30px;
}

.socialIcons a {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*  hover Effects on social media */
.socialIcons a:hover {
    background-color: #011826;
    transition: 0.5s;
}

.socialIcons a:hover {
    color: white;
    transition: 0.5s;
}

.footer-copyright {
    background-color: #011826;
    padding: 20px;
    text-align: center;
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*  styles for the Web Development page */

.bd-web {
    background-color: #011826;
}

.h1-web {
    color: #A62145;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/*  styles for the photography page */

.bd-photo {
    background-color: #011826;

}

.h1-photo {
    color: #A62145;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* section {
    display: block; 
} */




/* for larger screens */
@media only screen and (min-width: 758px) {
    .head-one {
        font-size: 4.5rem;
        margin-left: 3rem;
    }

    .home-header {
        background-image: url(/My-Website/images/header-2200_x_1080.jpeg);
    }

    .experience {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

}