body {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url(/My-Website/images/header-758_x_700.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.9);
    top: 0;
    left: 0;
    z-index: -1;
}

/* section {
    display: block;
} */

.experience {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.head-one {
    color: #ffffff;
    padding-top: 250px;
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: 3rem;
}


footer {
    border-top: 1px solid black;
    background: #581111;
    color: #ffffff;
}

/* for larger screens */
@media only screen and (min-width: 758px) {
    .head-one {
        font-size: 4.5rem;
    }

    header {
        background-image: url(/My-Website/images/header-2200_x_1080.jpeg);
    }
}